# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
bin/*
run

#temporary files of text editors
*~
TempOutputText.txt
Temp*

#temporary ppm files
*.ppm
